argcomplete==1.9.4
awacs==0.8.2
base58==1.0.3
boto3==1.9.95
botocore==1.12.95
certifi==2018.11.29
cfn-flip==1.1.0
chardet==3.0.4
Click==7.0
colorclass==2.2.0
docopt==0.6.2
docutils==0.14
dpath==1.4.2
durationpy==0.5
future==0.17.1
hjson==3.0.1
idna==2.8
itsdangerous==1.1.0
jmespath==0.9.3
kappa==0.7.0
lambda-packages==0.20.0
MarkupSafe==1.1.0
packaging==19.0
pip-upgrader==1.4.6
placebo==0.8.2
pyalexa-skill==0.3.0
pyparsing==2.3.1
python-dateutil==2.8.0
python-slugify==2.0.1
PyYAML==3.13
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
terminaltables==3.1.0
toml==0.10.0
tqdm==4.31.1
troposphere==2.4.4
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.14.1
wsgi-request-logger==0.4.6
zappa==0.47.1
